@model IEnumerable<DomFinder2.Models.ChatRoomViewModel>

@{
    ViewData["Title"] = "Moje wiadomości";
}

<h2>Moje wiadomości</h2>

@if (!Model.Any())
{
    <p>Brak wiadomości.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Email użytkownika</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserEmail</td>
                    <td>
                        <a href="@Url.Action("Chat", "Chat", new { userId = item.UserId })" class="btn btn-primary">Otwórz czat</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
